<launch>
  <node pkg= "handrail_segmentation" type="handrail_detector.py" name="handrail_detector_node" output= "screen"/>
  <node pkg= "handrail_segmentation" type="pointcloud_mask.py" name="pointcloud_mask_processor_node" output= "screen"/>
  <node pkg= "handrail_segmentation" type="icp_pose_estimator.py" name="icp_pose_estimator_node" output= "screen"/>
</launch>
